/*login.html style*/
.blue {
    color: cyan;
}
@media (min-width: 800px) {
    .box {
        background-color: salmon;
        padding: 15px;
        flex-direction: row;
        align-items: center;
    }
}
@media (min-width: 800px) {
    .home {
        background-color: salmon;
        border: 30px;
        border-color: white;
        padding: 15px;
        flex-direction: column;
        align-items: left;
        margin: 30px;
    }
}
@media (min-width: 800px) {
    .image {
        align-items: right;
    }
    
}

/* addPost.html style*/
.post_header {
    padding: 15px 20px;
    background-color: #a2eae8;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    border-radius: 15px;
    color: #34495e;
    font-size: 1.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post_header nav a{
    text-decoration: none;
    color: #08465a;
    padding: 5px 15px;
    border-radius: 8px;
}

.post_image {
    border-radius: 10px;
    display: block;
      }


.post_section {
    margin: 100px auto;
    max-width: 600px;
    padding: 70px;
    background-color: #a2eae8;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    color: #34495e;
    font-size: 1.7em;
}
article > form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label + textarea{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    font-size: 0.9rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 15px;
    margin-bottom: 25px;
    resize: vertical;
}


label ~ input[type="submit"], .post_file::file-selector-button{
    padding: 8px 8px;
    font-size: 0.9em;
    background-color: rgb(96, 176, 207);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}


label ~ input[type="submit"]:hover, .post_file::file-selector-button:hover{
    background-color: #82ddae;
}

.post_header nav a:hover{
    background-color: #82ddae;
}


@media (max-width: 799px) {
    .post_header
    {
        flex-direction: column;
        gap: 15px
    }
    .post_section{
        padding: 20px;
    }
}





